#!/bin/zsh
. ~/.envvars
[[ -f ~/.startup ]] && . ~/.startup
xss-lock -- betterlockscreen -l dimblur --display 1 &
xidlehook --not-when-audio --not-when-fullscreen --timer 900 'betterlockscreen -l dimblur --display 1' '' &
xsetroot -cursor_name left_ptr &
picom -b &
wal -R &
dex -a &
sxhkd -c ~/.config/sxhkd/sxhkdrc{,-bspwm} &
~/.config/dunst/launch &
nitrogen --restore &
