#!/bin/bash
case $HOSTNAME in
    arch-home) xrandr --output DP-4 --mode 3840x2160 --rate 60 --scale 0.666666666667x0.666666666667 --primary --output DP-2 --mode 2560x1440 --rate 165 --left-of DP-4;;
    arch-adcalls) xrandr --output HDMI-1 --mode 1920x1080 --rate 60 --primary --output DVI-D-1 --mode 1920x1080 --rate 60 --right-of HDMI-1;;
esac
export MONITOR=$(xrandr -q|grep primary|cut -d ' ' -f1)
xautolock -time 15 -locker ~/.config/i3/lock.sh &
xsetroot -cursor_name left_ptr &
setxkbmap -layout 'us(intl),us' &
compton -b &
caffeine &
redshift &
sxhkd &
