#!/bin/bash
case $HOSTNAME in
    arch-home) xrandr --output DP-0 --mode 3440x1440 --rate 60 --primary;;
    arch-adcalls) xrandr --output VGA-1 --mode 1920x1080 --rate 60 --primary --output HDMI-1 --mode 1920x1080 --rate 60 --right-of VGA-1;;
esac
export MONITOR=$(xrandr -q|grep primary|cut -d ' ' -f1)
xautolock -time 15 -locker ~/.config/i3/lock.sh &
xsetroot -cursor_name left_ptr &
setxkbmap -layout 'us(intl),us' &
compton -b &
caffeine &
redshift &
sxhkd &
